* {
    background-color: #0f0f23;
    color: #CCCCCC;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
}

body {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin: 32px;
}

input {
    background-color: #10101a;
}